
/* Site Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Netflix Sans", sans-serif;
    src: url(../fonts/NetflixSans-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: "Netflix Sans", sans-serif;
    src: url(../fonts/NetflixSans-Light.otf);
    font-weight: lighter;
}

@font-face {
    font-family: "Netflix Sans";
    src: url(../fonts/NetflixSans-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: "Netflix Sans";
    src: url(../fonts/NetflixSans-Bold.otf);
    font-weight: bolder;
}

body{
    font-family: 'Netflix Sans',sans-serif;
    background-color: black;
    color: white;
}

:root{
    --mainAccent: #E50914;
}

nav{
    display: flex;
    /* background-color: wheat; */
    justify-content: space-between;
    max-width: 1800px;
    width: 100vw;
    padding: 1.5rem 2.5rem;
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50%;
}

    .netflix-logo{
        fill: var(--mainAccent);
        max-width: 150px;

        height:2.25rem;
        width:8.375rem;
    }


main{
    min-height: 100vh;
    background: url('../media/image/bgtitle.jpg'),linear-gradient(180deg, rgba(0, 0, 0, 0.894) 0%, rgba(0, 0, 0, 0.488) 30%,rgba(0, 0, 0, 0.431) 50%,rgba(0, 0, 0, 0.534) 60%, rgba(0, 0, 0, 0.825));
    background-size: cover;
    background-blend-mode: multiply;
}