
/* Site Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Netflix Sans", sans-serif;
    src: url(../fonts/NetflixSans-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: "Netflix Sans", sans-serif;
    src: url(../fonts/NetflixSans-Light.otf);
    font-weight: lighter;
}

@font-face {
    font-family: "Netflix Sans";
    src: url(../fonts/NetflixSans-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: "Netflix Sans";
    src: url(../fonts/NetflixSans-Bold.otf);
    font-weight: bolder;
}

body{
    font-family: 'Netflix Sans',sans-serif;
    background-color: black;
    color: white;
}

:root{
    --mainAccent: #E50914;
}

nav{
    display: flex;
    /* background-color: wheat; */
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem .4rem;
}

.netflix-logo{
    fill: var(--mainAccent);
    max-width: 150px;
    height:2.25rem;
    width:8.375rem;
}